[Unit]
Description=Osmocom ePDG (Evolved Packet Data Gateway)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/var/lib/osmo-epdg
Environment="ERL_FLAGS=-config /etc/osmocom/osmo-epdg.config"
ExecStartPre=-/usr/bin/ip link del gtp0
ExecStartPre=/usr/bin/mkdir -p /var/lib/osmo-epdg
ExecStart=/usr/bin/osmo-epdg
RestartSec=2

[Install]
WantedBy=multi-user.target
